form(method="post" action="/register")
    table 
        tr
            td Username 
            td 
                input(type="text" name="username")
        tr 
            td Age 
            td 
                input(type="text" name="age")
        tr 
            td Phone 
            td 
                input(type="text" name="phone")
        tr 
            td dob
            td 
                input(type="date" name="dob")
        tr 
            td Password 
            td 
                input(type="password" name="password")
        tr 
            td
            td
                input(type="submit" value="Register")